.about-wrapper {

    .about-left-content {
        .about-text {
            margin-top: 25px;
        }

        .list-items {
            margin-top: 30px;
            @include flex;
            gap: 60px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            ul {
                li {
                    i {
                        margin-right: 8px;
                        color: #63AB52;
                    }

                    &:not(:last-child){
                        margin-bottom: 13px;
                    }
                }
            }
        }

        .about-bottom-area {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 40px;

             @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .phone-box-items {
                @include flex;
                gap: 20px;

                .icon {
                    width: 57px;
                    height: 57px;
                    line-height: 57px;
                    text-align: center;
                    background-color: $theme-color-2;
                    border-radius: 50%;
                    color: $theme-color;
                    font-size: 20px;
                }

                .content {
                    p {
                        font-weight: 600;
                    }

                    a {
                        color: $theme-color;
                        font-size: 20px;
                        font-weight: 800;
                    }
                }
            }
        }
    }

    .about-right-items {
        .about-top-box {
            border-radius: 12px;
            background: #EDDD5E;
            padding: 50px 35px;
            z-index: 9;
            position: relative;

            p {
                font-weight: 500;
                color: $header-color;
            }

            h2 {
                border-bottom: 1px dashed #3C3C3C;
                padding-bottom: 10px;
            }

            .text {
                color: $text-color;
                margin-top: 20px;
            }
        }

        .about-image {
            margin-left: -150px;
            margin-top: -40px;

            @include breakpoint (max-xxl){
               margin-left: -70px;
            }

             @include breakpoint (max-xl){
               margin-left: 0;
            }

            img {
                @include imgw;
                border-radius: 12px;
            }
        }
    }
}


.about-wrapper-2 {
    padding-left: 60px;
    padding-right: 10px;

    @include breakpoint (max-xl){
        padding-left: 25px;
        padding-right: 25px;
    }
    

    .section-title {
        @include breakpoint (max-md){
            text-align: left !important;
        }
    }

    .left-image {
       max-width: 356px;
       margin-right: -110px;
       margin-left: 30px;

       @include breakpoint (max-xxxl){
          margin-right: -50px;
        }

        @include breakpoint (max-xl){
           margin-left: 0;
           margin-right: 0;
           text-align: center;
           margin: 0 auto;
        }

        @include breakpoint (max-md){
            max-width: 700px;
        }

        img {
            @include imgw;
            transform: rotate(-9.204deg);
            border-radius: 12px;

            @include breakpoint (max-xl){
                transform: rotate(0);
                object-fit: cover;
            }
        }
    }

    .about-item {
        max-width: 740px;
        margin: 0 auto;
        position: relative;
        z-index: 99;

        .about-text {
            max-width: 730px;
            margin: 30px auto 30px;
            text-align: center;

            @include breakpoint (max-md){
              text-align: left;
              margin-top: 15px;
              margin-bottom: 15px;
            }

            @include breakpoint (max-md){
               margin-top: 10px;
               margin-bottom: 10px;
            }
        }

        .progress-wrap {
            margin-top: 30px;

            .pro-items {
                width: 100%;

                &:not(:last-child){
                    margin-bottom: 30px;
                }
                .pro-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .title {
                        color: $header-color;
                    }
                    
                    .point {
                        font-size: 16px;
                        font-weight: 700;
                        color: $header-color;
                    }
                }
                .progress {
                    background: rgba(82, 145, 73, 0.18);
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    display: flex;
                    height: 6px;
                    width: 100%;

                    &.color-2 {
                        background-color: rgba(237, 221, 94, 0.18);

                        .progress-value {
                            background-color: $theme-color-2;
                        }
                    }
                }
                
                .progress-value {
                    animation: load 3s normal forwards;
                    border-radius: 0;
                    background: $theme-color;
                    height: 6px;
                    width: 0;
                }
                .style-two{
                    animation: load2 3s normal forwards;
                }
                .style-three{
                    animation: load3 3s normal forwards;
                }
                @keyframes load {
                    0% { width: 0; }
                    100% { width: 95%; }
                }
                @keyframes load2 {
                    0% { width: 0; }
                    100% { width: 89%; }
                }
            }
        }

        .about-bottom-area {
            margin-top: 60px;
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: center;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 20px;
            }

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            @include breakpoint (max-sm){
                justify-content: start;
            }

            .phone-box-items {
                @include flex;
                gap: 20px;

                .icon {
                    width: 57px;
                    height: 57px;
                    line-height: 57px;
                    text-align: center;
                    background-color: $theme-color-2;
                    border-radius: 50%;
                    color: $theme-color;
                    font-size: 20px;
                }

                .content {
                    p {
                        font-weight: 600;
                    }

                    a {
                        color: $theme-color;
                        font-size: 20px;
                        font-weight: 800;
                    }
                }
            }
        }
    }

    .right-image {
        max-width: 356px;
        margin-left: -110px;
        margin-right: 70px;

         @include breakpoint (max-xxxl){
         margin-left: -40px;
        }

        @include breakpoint (max-xl){
            margin-left: 0;
            margin-right: 0;
            text-align: center;
            margin: 0 auto;
         }

         @include breakpoint (max-md){
            max-width: 700px;
        }
 
        img {
            @include imgw;
            transform: rotate(15deg);
            border-radius: 12px;

             @include breakpoint (max-xl){
                transform: rotate(0);
            }
        }
    }
}

.about-wrapper-3 {
    margin-top: 40px;
    position: relative;
    z-index: 99;

    @include breakpoint (max-lg){
        margin-top: 0;
    }

    .about-image-items {
        .image-1 {
            @include breakpoint (max-xxl){
                img {
                    @include imgw;
                }
            }
        }

       .image-2 {
            margin-top: -92%;
            text-align: center;
            margin-left: 85px;

            @include breakpoint (max-xxl){
                margin-left: -70px;
                margin-top: -56%;
            }

            @include breakpoint (max-xl){
                margin-left: -35px;
                max-width: 500px;

                img {
                    width: 100%;
                }
            }

            @include breakpoint (max-lg){
                display: none;
            }
        }
    }

    .about-content {
        margin-left: 100px;

        @include breakpoint (max-xxl){
            margin-left: 0;
        }

        .about-text {
            margin-top: 25px;
        }

        .list-items {
            @include flex;
            gap: 60px;
            margin-top: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            ul {
                li {
                    font-size: 18px;
                    font-weight: 500;

                    &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                    i {
                        margin-right: 7px;
                        color: $theme-color;
                    }
                }
            }
        }

        .circle-progress-bar-wrapper {
            @include flex;
            gap: 30px;
            margin-top: 50px;
            margin-bottom: 30px;

            &.style-white-color {
                .single-circle-bar {
                     .circle-bar div span {
                        background-color: $white;
                     }
                }
            }

            @include breakpoint (max-xxl){
                gap: 30px;
                flex-wrap: wrap;
            }

            @include breakpoint (max-lg){
                margin-top: 40px;
                gap: 70px;
            }

            @include breakpoint (max-lg){
                gap: 20px;
            }

            @include breakpoint (max-sm){
                margin-top: 30px;
                flex-wrap: wrap;
                gap: 10px;
            }
           
            .single-circle-bar{
                @include flex;
                gap: 25px;
                
                span {
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 600;
                }
                .content{
                    h6{
                        display: block;
                        margin-bottom: 0;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 135%;
                        
                    }

                    br {
                        @include breakpoint (max-sm){
                            display: block;
                        }
                    }
                }
                .circle-bar {
                    position: relative;
                    height: 120px;
                    width: 120px;
                }
                    
                .circle-bar div {
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }
                    
                .circle-bar div span {
                    position: absolute;
                    font-size: 20px;
                    line-height: 92px;
                    height: 90px;
                    width: 90px;
                    left: 5px;
                    top: 5px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #FFF9E8;
                    color: $header-color;
                }
                    
                .circle-bar .background {
                    background-color: rgba(91, 140, 81, 0.17) !important;
                }
                
                .circle-bar .rotate {
                    clip: rect(0 50px 100px 0);
                    background-color: $theme-color !important;
                }
                
                .circle-bar .left {
                    clip: rect(0 50px 100px 0);
                    opacity: 1;
                    background-color: $bg-color !important;
                }
                
                .circle-bar .right {
                    clip: rect(0 50px 100px 0);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    opacity: 0;
                    background-color: $theme-color !important;
                }
            }
        }

        .about-bottom-area {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 40px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .phone-box-items {
                @include flex;
                gap: 20px;

                .icon {
                    width: 57px;
                    height: 57px;
                    line-height: 57px;
                    text-align: center;
                    background-color: $theme-color-2;
                    border-radius: 50%;
                    color: $theme-color;
                    font-size: 20px;
                }

                .content {
                    p {
                        font-weight: 600;
                    }

                    a {
                        color: $theme-color;
                        font-size: 20px;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

.about-section-3 {
    margin: 0 48px;
    border-radius: 28px;
    position: relative;
    z-index: 9;

     @include breakpoint (max-xxxl){
        margin: 0 40px;
    }

    @include breakpoint (max-xxl){
        margin: 0 30px;
    }

    @include breakpoint (max-xl){
        margin: 0 20px;
        padding-bottom: 100px !important;
    }

    @include breakpoint (max-lg){
        padding-bottom: 80px !important;
    }

    .shape-1 {
        position: absolute;
        left: 0;
        bottom: 16%;
    }

    .shape-2 {
        position: absolute;
        top: 56px;
        right: 0;
    }
}

.about-section-4 {
    background-color: $theme-color;
}

.about-wrapper-4 {
    margin-bottom: 74px;

    @include breakpoint (max-xxl){
        margin-bottom: 10px;
    }

    @include breakpoint (max-xl){
        margin-bottom: 0;
    }

    .about-left-content {
        margin-right: 100px;

        @include breakpoint (max-xxl){
            margin-right: 50px;
        }

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        @include breakpoint (max-sm){
            text-align: center;
        }

        .about-text {
            color: $white;
            margin-top: 25px;
        }

        .about-icon-area {
            margin-top: 35px;
            display: flex;
            align-items: center;
            gap: 20px;

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            @include breakpoint (max-sm){
               justify-content: center;
            }

            @include breakpoint (max-xxs){
                flex-wrap: wrap;
            }

            .icon {
                max-width: 95px;
                height: 95px;
                line-height: 115px;
                text-align: center;
                border-radius: 50%;
                background-color: $theme-color-2;
                font-size: 40px;
                color: $header-color;
                width: 100%;

                i {
                    @include transition;
                    display: inline-block;  
                }
            }

            .content {
                h3 {
                    font-size: 22px;
                    color: $white;
                }

                p {
                    margin-top: 7px;
                    color: $white;
                   
                }
            }

            &:hover {
                .icon {
                    i {
                        transform: scaleX(-1) !important;
                    }
                }
            }
        }

        .about-bottom-area {
            margin-top: 50px;
            display: flex;
            align-items: center;
            gap: 40px;

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

             @include breakpoint (max-sm){
              justify-content: center;
            }

            .theme-btn {
                background-color: $white;
                color: #244F0B;
            }

            .phone-box-items {
                @include flex;
                gap: 20px;

                .icon {
                    width: 57px;
                    height: 57px;
                    line-height: 57px;
                    text-align: center;
                    background-color: $theme-color-2;
                    border-radius: 50%;
                    color: $theme-color;
                    font-size: 20px;
                }

                .content {
                    p {
                        font-weight: 600;
                        color: $white;

                         @include breakpoint (max-sm){
                            text-align: left;
                        }
                    }

                    a {
                        color: $white;
                        font-size: 20px;
                        font-weight: 800;
                    }
                }
            }
        }
    }

    .about-right-image {
        margin-left: 30px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        img {
            @include imgw;
            border-radius: 28px;
        }

        .sm-image {
            position: absolute;
            bottom: -65px;
            left: -60px;

            @include breakpoint (max-xl){
              bottom: 0;
              left: 0;
            }

            @include breakpoint (max-md){
                max-width: 220px;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            img {
                width: initial;
                height: initial;
            }
        }

        .shape-1 {
            position: absolute;
            top: 90px;
            left: -70px;

            @include breakpoint (max-xl){
               display: none;
            }
        }

        .shape-2 {
            position: absolute;
            bottom: -29%;
            right: 80px;

            @include breakpoint (max-xl){
               display: none;
            }
        }
    }
}

.about-wrapper-5 {
    margin-right: -40%;

    @include breakpoint (max-xxxl){
        margin-right: -20%;
    }

     @include breakpoint (max-xl){
        margin-right: 0;
    }

    .about-left-items {
        @include breakpoint (max-sm){
            text-align: center;
        }
        .about-text {
            margin-top: 25px;
            max-width: 532px;
        }

        .bottom-items {
            display: flex;
            align-items: center;
            gap: 45px;
            margin-top: 40px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 25px;
            }

            @include breakpoint (max-sm){
                    justify-content: center;
                }

            .counter-box-items {
                display: flex;
                gap: 20px;

                .icon {
                    font-size: 47px;
                    color: $header-color;
                    background-color: $theme-color-2;
                    width: 102px;
                    height: 102px;
                    line-height: 118px;
                    border-radius: 28px;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        @include transition;
                        display: inline-block;  
                    }
                }

                .content {
                    margin-top: 20px;

                    p {
                        font-weight: 500;

                        @include breakpoint (max-sm){
                            text-align: left;
                        }
                    }
                }

                &:hover {
                    .icon {
                        i {
                            transform: scaleX(-1) !important;
                        }
                    } 
                }
            }
        }
    }

    .about-right-thumb {
        @include breakpoint (max-sm){
            text-align: center;
        }
        .about-thumb-box {
            .thumb {
                img {
                    @include imgw;
                    border-radius: 8px;
                }
            }

            h3 {
                font-size: 34px;
                font-weight: 700;
                margin-top: 20px;

                 @include breakpoint (max-xl4){
                    font-size: 24px;
                }
            }
        }
    }
}

.about-section-5 {
    position: relative;
    z-index: 9;

    .shape-1 {
        position: absolute;
        bottom: -2%;
        left: 0;
    }
}
