.contact-wrapper {
    .section-title {
        @include breakpoint (max-sm){
            text-align: center;
        }
    }
    .contact-content {
        position: relative;
        z-index: 9;

        .contact-form-box {
            margin-top: 45px;

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            .form-clt {
                input,textarea {
                    line-height: 1;
                    padding: 20px 20px;
                    width: 100%;
                    text-transform: capitalize;
                    color: $text-color;
                    border-radius: 4px;
                    border: 1px solid $white;
                    background: $white;
                }

                textarea {
                    padding-bottom: 120px;
                }
            }

             @include breakpoint (max-sm){
              .theme-btn {
                width: 100%;
              }
            }
        }
    }

    .contact-image {
        margin-left: 20%;

        @include breakpoint (max-xxxl){
            margin-left: 20px;
        }

        @include breakpoint (max-xl){
            margin-left: 0;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.contact-section {
    position: relative;

    @include breakpoint (max-xl){
        padding: 100px 0;
    }

    @include breakpoint (max-lg){
        padding: 80px 0;
    }

    .shape-1 {
        position: absolute;
        top: 90px;
        right: 47%;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.contact-wrapper-3 {
    position: relative;

     @include breakpoint (max-sm){
       .theme-btn {
            width: 100%;
            text-align: center;
       }
    }

    .contact-content {
        margin-right: 60px;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        .section-title {
            @include breakpoint (max-sm){
                text-align: center;
            }
        }

        .contact-form-box {
            margin-top: 45px;

            .form-clt {
                input,textarea {
                    line-height: 1;
                    padding: 20px 20px;
                    width: 100%;
                    text-transform: capitalize;
                    color: $text-color;
                    border-radius: 4px;
                    border: 1px solid $white;
                    background: $white;
                }

                textarea {
                    padding-bottom: 120px;
                }
            }
        }
    }

    .contact-image {
        margin-left: 30px;
        position: absolute;
        bottom: -120px;

        @include breakpoint (max-xl){
            bottom: 100px;
        }

        img {
            @include imgw;
        }
    }
}

.contact-section-3 {
    position: relative;
    z-index: 9;

    .shape-1 {
        position: absolute;
        bottom: 134px;
        left: 0;
    }

    .shape-2 {
        position: absolute;
        top: 33px;
        left: 40%;
    }

    .shape-3 {
        position: absolute;
        top: 0;
        left: 49%;
        z-index: -1;
    }
}


.contact-info-box {
    background: $white;
    box-shadow: 0px 11px 50px 11px rgba(1, 53, 102, 0.05);
    border-radius: 12px;
    padding: 40px;
    position: relative;

    @include breakpoint (max-xl){
        padding: 30px;
    }

    @include breakpoint (max-sm){
       text-align: center;
       padding: 30px;
    }

    .shape-1 {
        position: absolute;
        bottom: 60px;
        right: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .contact-top {
        @include flex;
        gap: 20px;
        margin-bottom: 20px;

        @include breakpoint (max-xl){
            display: grid;
        }

         @include breakpoint (max-sm){
           justify-content: center;
        }

        .icon {
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: $theme-color-2;
            border-radius: 50%;
            text-align: center;
            color: $header-color;
            font-size: 28px;

             @include breakpoint (max-sm){
                margin: 0 auto;
            }
        }

        h3 {
            font-size: 22px;
        }
    }

    p {
        font-size: 18px;
        a {
            color: rgba(92, 102, 114, 1);
        }
    }
}

.map-section-contact {
    .google-map {
        iframe {
            width: 100%;
            height: 614px;

            @include breakpoint (max-md){
                height: 500px;
            }
        }
    }
}