.project-wrapper-2 {
    margin-left: -10%;
    margin-right: -10%;

     @include breakpoint (max-xl){
        margin-left: 0;
        margin-right: 0;
    }

    .project-image-items-2 {
        position: relative;
        z-index: 9;
        margin-top: 30px;
        border-radius: 12px;
        overflow: hidden;
        height: 658px;

        @include breakpoint (max-xxxl){
            height: 500px;
        }

        img {
            @include imgw;
            border-radius: 12px;
            transition-delay: .1s;
            transition-timing-function: ease-in-out;
            transition-duration: .7s;
            transition-property: all;
            object-fit: cover;
        }

        .content {
            background-color: $theme-color-2;
            border-radius: 4px;
            padding: 30px;
            max-width: 480px;
            position: absolute;
            bottom: -100px;
            left: 30px;
            right: 30px;
            opacity: 0;
            visibility: hidden;
            @include transition;

            @include breakpoint (max-sm){
                text-align: center;
            }

            span {
                font-size: 15px;
                font-weight: 600;
                color: #404A3D;
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-top: 5px;

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                font-weight: 500;
                margin-top: 5px;
            }

            .circle-icon {
                background-color: $theme-color;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                color: $white;
                display: inline-block;
                margin-top: 20px;
            }
        }

        &:hover {
            .content {
                opacity: 1;
                visibility: visible;
                bottom: 30px;
            }

            img {
                transform: scale(1.1) rotate(2deg);
            }
        }
    }
}


.project-wrapper-5{
    margin-left: -16%;
    margin-right: -5%;

    @include breakpoint (max-xl){
        margin-left: 0;
        margin-right: 0;
    }

    .project-thumb-items-5 {
        position: relative;
        z-index: 9;
        overflow: hidden;
        margin-top: 30px;

        @include breakpoint (max-xxl){
            height: 520px;

            img {
                object-fit: cover;
            }
        }

        img {
            @include imgw;
            border-radius: 28px;
        }

        .project-content {
            background-color: $theme-color-2;
            padding: 28px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            border-radius: 4px;
            @include transition;

            @include breakpoint (max-sm){
                text-align: center;
            }

            .project-text {
                font-size: 15px;
                font-weight: 600;
                color: #404A3D;
            }

            .text-title {
                font-size: 24px;
                font-weight: 700;
                color: #404A3D;
            }
        }

        .content {
            background-color: $theme-color-2;
            padding: 40px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            border-radius: 4px;
            @include transition;
            opacity: 0;
            visibility: hidden;
            transform: translateY(80%);

            @include breakpoint (max-lg){
                padding: 28px;
            }

             @include breakpoint (max-sm){
                text-align: center;
            }

            .span {
                font-size: 15px;
                font-weight: 600;
                color: #404A3D;
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-top: 10px;

                a {
                    color: #404A3D;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                max-width: 291px;
                margin-top: 7px;
                color: #404A3D;
            }

            .circle-icon {
                background-color: #244F0B;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                border-radius: 50%;
                color: $white;
                display: inline-block;
                margin-top: 20px;
            }
        }

        &:hover {
            .content {
                transform: translateY(0px);
                opacity: 1;
                visibility: visible;
            }

            .text-title {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}


.gallery-image-box-3 {
    position: relative;
    border-radius: 28px;
    overflow: hidden;
    margin-top: 30px;

        img {
            @include imgw;
            border-radius: 28px;
            transition-delay: .1s;
            transition-timing-function: ease-in-out;
            transition-duration: .7s;
            transition-property: all;
            object-fit: cover;
        }

        .content {
            border-radius: 4px;
            background: $theme-color-2;
            padding: 20px 24px;
            display: inline-block;
            position: absolute;
            bottom: -100px;
            left: 20px;
            line-height: 1;
            opacity: 0;
            visibility: hidden;
            @include transition;

            @include breakpoint (max-sm){
                text-align: center;
                right: 0;
                width: calc(100% - 40px);
            }


            p {
                font-size: 15px;
                font-weight: 600;
                color: #404A3D;
            }

            h3 {
                font-weight: 700;
                margin-top: 5px;

                a {
                    color: #404A3D;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }

    &:hover {
        .content {
            opacity: 1;
            visibility: visible;
            bottom: 20px;
        }

        img {
            transform: scale(1.1) rotate(2deg);
        }
    }
}


.project-details-wrapper {
    .main-sideber {
        .sideber-box {
            padding: 30px 28px;
            background-color: rgba(237, 242, 236, 1);
            border-radius: 28px;
            margin-bottom: 30px;

            @include breakpoint (max-xxl) {
                margin-bottom: 30px;
                padding: 30px 28px;
            }

            .service-categories {
                margin-top: 30px;

                li {
                    @include flex;
                    justify-content: space-between;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(92, 102, 114, 1);

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(34, 48, 53, 0.25);
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                    }

                    span {
                        i {
                            color: rgba(92, 102, 114, 1);
                            margin-left: 5px;
                            transform: rotate(-45deg);
                        }
                    }

                    &:hover {
                        a {
                            color: $theme-color;
                        }
                    }
                }
            }
        }

        .sidebar-widget-image {
            position: relative;
            z-index: 9999;

            @include breakpoint (max-xl){
                height: 420px;
            }

            &::before {
                @include before;
                border-radius: 28px;
                background-color: rgba(99, 171, 82, 0.87);
            }

            img {
                @include imgw;
                border-radius: 28px;
            }

            .content {
                position: absolute;
                top: 90px;
                bottom: 45px;
                left: 25px;
                right: 25px;
                z-index: 22;
                text-align: center;
                

                h3 {
                    font-size: 30px;
                    font-weight: 800;
                    color: $white;
                    margin-bottom: 10px;

                    @include breakpoint (max-xl){
                        font-size: 25px;
                        line-height: 130%;
                    }
                }

                p {
                    color: $white;
                    max-width: 265px;
                    margin: 0 auto;
                }
                
                .theme-btn {
                    background: $theme-color-2;
                    margin-top: 30px;
                    color: $header-color;

                    &::before {
                        background-color: $theme-color;
                    }
                    
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    .project-details-content {
        .project-img {
            img {
                @include imgw;
                border-radius: 28px;
            }
        }

        h2 {
            margin-top: 20px;
        }

        h3 {
            font-size: 34px;
            font-weight: 700;
            margin-top: 25px;
        }

        .list-items {
            @include flex;
            gap: 60px;
            margin-top: 30px;

            @include breakpoint (max-xxl){
                gap: 30px;
                flex-wrap: wrap;
            }

            ul {
                li {
                    font-size: 18px;
                    font-weight: 500;
                    color: #0A2803;

                    &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                    i {
                        margin-right: 7px;
                        color: $theme-color;
                    }
                }
            }
        }
    }
}

.project-section-5  {
     .swiper-dot2 {
       position: relative;
       z-index: 99;

        .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            transition: 0.6s;
            background-color: transparent;
            border: 1px solid $theme-color;
            opacity: 1;
            border-radius: 14px;
            &:not(:last-child){
            margin-right: 5px;
            }
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: $theme-color;
            transition: 0.6s;
            position: relative;
        }

    }
}