
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;
	margin-top: -7px;

	@include breakpoint (max-md) {
		margin-bottom: 0;
	}

	span {
		font-size: 15px;
		font-weight: 600;
		color: #404A3D;
		display: inline-block;
		position: relative;
		margin-bottom: 10px;

		img {
			margin-right: 10px;
		}
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	margin-bottom: 30px;

	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 0;
	}

	.section-title {
		margin-bottom: 0;
	}

	@include breakpoint (max-sm){
		.theme-btn {
			display: none;
		}
	}
}
//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color !important;
}

.section-bg-2 {
	background-color: $bg-color-2 !important;
}

.footer-bg {
	background-color: #2F304C;
}

.section-padding{
	padding: 120px 0;

	
	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//


.body-bg-4 {
	background-color: #040A3D;
}

.link-btn {
	color: #63AB52;
	margin-top: 25px;
	display: inline-block;
	@include transition;
	font-weight: 800;
	font-size: 16px;
	font-family: $heading-font;

	i {
		margin-left: 5px;
		transform: rotate(-45deg);
	}

	&:hover {
		color: $header-color;
	}
}