.testimonial-wrapper {
    margin-top: 60px;

    .testimonial-image {
        overflow: hidden;
        border-radius: 30px;

        img {
            @include imgw;
            border-radius: 30px;
            transition-delay: .1s;
            transition-timing-function: ease-in-out;
            transition-duration: .7s;
            transition-property: all;
        }

        &:hover {
            img {
                transform: scale(1.1) rotate(2deg);
            }
        }
    }

    .testimonial-box-items {
        margin-left: 50px;
        max-width: 626px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        @include breakpoint (max-sm){
            text-align: center;
        }

        .star {
            color: #EDDD5E;
        }

        h3 {
            font-size: 28px;
            font-weight: 600;
            margin-top: 30px;

            @include breakpoint (max-xl){
               font-size: 22px;
            }

             @include breakpoint (max-lg){
               font-size: 18px;
            }
        }

        .client-info-area {
            @include flex;
            justify-content: space-between;
            margin-top: 50px;

             @include breakpoint (max-xl){
              margin-top: 25px;
            }

            @include breakpoint (max-sm){
                display: grid;
                gap: 20px;
                justify-content: center;
            }

            .client-info {
                display: flex;
                align-items: center;
                gap: 20px;

                .content {
                    p {
                        font-size: 15px;
                        font-weight: 600;

                        @include breakpoint (max-sm){
                            text-align: left;
                        }
                    }

                    h5 {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }

            .icon {
                font-size: 60px;
                color: $theme-color;
            }
        }
    }

    .array-buttons {
        display: grid;
        align-items: center;
        gap: 40px;

        @include breakpoint (max-xl){
            display: flex;
            gap: 20px;
        }

        @include breakpoint (max-sm){
            justify-content: center;
        }

        .array-prev,.array-next {
            &:hover {
                svg path {
                    fill: $theme-color;
                }
            }
        }
    }
}

.testimonial-section-2 {
    border-radius: 30px;
    position: relative;
    z-index: 9;
    margin-left: 50px;
    margin-right: 50px;

    @include breakpoint (max-xxxl){
        margin-left: 34px;
        margin-right: 34px;
    }

    @include breakpoint (max-xxl){
        margin-left: 28px;
        margin-right: 28px;
    }

     @include breakpoint (max-xl){
        margin-left: 20px;
        margin-right: 20px;
    }

    &::before {
        @include before;
        z-index: -1;
        border-radius: 30px;
        background: rgba(10, 40, 3, 0.87);

    }
}

.testimonial-box-items-2 {
    border-radius: 12px;
    background: $white;
    padding: 45px 35px;
    margin-top: 30px;

    @include breakpoint (max-sm){
        padding: 28px;
        text-align: center;
    }

    .icon {
        font-size: 87px;
        color: #63AB52;
    }

    h4  {
        font-size: 22px;
        font-weight: 600;
        max-width: 364px;
        margin-top: 30px;

        @include breakpoint (max-xxl){
           font-size: 20px;
        }

        @include breakpoint (max-sm){
           font-size: 18px;
        }
    }

    .client-info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 30px;

         @include breakpoint (max-sm){
            justify-content: center;
            display: grid;
        }

        .content {
            
            p {
                font-size: 15px;
                font-weight: 600;
            }

            h5 {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}

.testimonial-box-items-3 {
    background-color: $white;
    border-radius: 12px;
    padding: 30px;
    margin-top: 30px;

    @include breakpoint (max-sm){
        text-align: center;
        padding: 30px 27px;
    }

    .star {
        color: #EDDD5E;
    }

    h4 {
        font-size: 24px;
        font-weight: 700;
        max-width: 446px;
        margin-top: 20px;

        @include breakpoint (max-xl){
            font-size: 20px;
        }

         @include breakpoint (max-md){
            font-size: 22px;
        }

          @include breakpoint (max-sm){
            font-size: 20px;
        }
    }

    .client-info-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

         @include breakpoint (max-sm){
            justify-content: center;
            display: grid;
            gap: 15px;
        }

        .client-info {
            display: flex;
            align-items: center;
            gap: 20px;

             @include breakpoint (max-sm){
                justify-content: center;
                display: grid;
                gap: 15px;
            }

            .content {
                p {
                    font-size: 15px;
                    font-weight: 600;
                }

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        .icon {
            font-size: 60px;
            color: #63AB52;

             @include breakpoint (max-sm){
               display: none;
            }
        }
    }
}

.testimonial-wrapper-4 {
    background-color: $theme-color-2;
    padding: 90px;
    border-radius: 28px;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl){
        padding: 50px 45px;
    }

    @include breakpoint (max-lg){
        padding: 45px 35px;
    }

    @include breakpoint (max-md){
        padding: 40px 32px;
    }

     @include breakpoint (max-sm){
        padding: 30px;
    }

    .shape-1 {
        position: absolute;
        top: 40px;
        left: 60px;
    }

    .shape-2 {
        position: absolute;
        bottom: 0px;
        right: 30px;
    }

    .testimonial-img {
        margin-right: 60px;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        img {
            @include imgw;

        }
    }

    .testimonial-content {

        .section-title {
            h2 {
                font-weight: 700;
                margin-top: 15px;
                font-size: 45px;

                @include breakpoint (max-xxxl){
                    font-size: 38px;
                }

                @include breakpoint (max-xxl){
                    font-size: 34px;
                }

                 @include breakpoint (max-lg){
                    font-size: 32px;
                }

                 @include breakpoint (max-md){
                    font-size: 27px;
                }

                @include breakpoint (max-sm){
                    font-size: 24px;
                }

                @include breakpoint (max-xxs){
                    font-size: 22px;
                }
            }
        }

        .client-info-area {
            @include flex;
            gap: 150px;
            margin-top: 40px;
            justify-content: center;

            @include breakpoint (max-xl){
                margin-top: 30px;
                flex-wrap: wrap;
                gap: 20px;
            }

            .client-info {
                display: flex;
                align-items: center;
                gap: 20px;

                .content {
                    p {
                        font-size: 15px;
                        font-weight: 600;
                    }

                    h5 {
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }

            .icon {
                font-size: 60px;
                color: $theme-color;
            }
        }
    }
}

.testimonial-section-5 {
    background-color: #5B8C51;
    position: relative;


    .shape-1 {
        position: absolute;
        left: 0;
        top: 50%;
    }

    .shape-2 {
        position: absolute;
        right: 0;
        top: 30%;
    }
}

.testimonial-wrapper-5 {
   .array-prev,& .array-next {
        border: 1px solid $white;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: $white;
        border-radius: 50%;
        margin-top: 100px;
        @include transition;

        &:hover {
            background-color: $theme-color-2;
            color: $header-color;
            border: 1px solid $theme-color-2;
        }
   }

    .testi-content-5 {
        margin-bottom: 60px;
         text-align: center;

         .star {
            color: rgba(237, 221, 94, 1);
        }

        h3 {
            font-size: 38px;
            font-weight: 700;
            margin-top: 20px;
            color: $white;
            line-height: 140%;

            @include breakpoint (max-xl){
                font-size: 32px;
            }

            @include breakpoint (max-lg){
                font-size: 30px;
            }

            @include breakpoint (max-md){
                font-size: 27px;
            }

            @include breakpoint (max-sm){
                font-size: 25px;
            }
        }

        .info-content {
            margin-top: 25px;

            span {
                font-size: 16px;
                font-weight: 600;
                font-family: $heading-font;
                color: $white;
            }

            h4 {
                font-size: 18px;
                color: $white;
            }
        }
    }


    .testi-bottom-img {
        max-width: 380px;
        text-align: center;
        margin: 0 auto;

        @include breakpoint (max-sm){
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
        }
    }
}

.testimonial-section-3  {
    background-position: bottom center;
}

.testimonial-section-4 {
    position: relative;

    .array-button {
        @include flex;
        justify-content: space-between;
        position: absolute;
        top: 42%;
        transform: translateY(-50%);
        z-index: 99;
        left: 13%;
        right: 13%;

        @include breakpoint (max-xl4){
            left: 2.5%;
            right: 2.5%;
        }

        @include breakpoint (max-xxl){
           display: none;
        }

        .array-prev,.array-next {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border-radius: 50%;
            background: transparent;
            border: 1px solid $theme-color;
            color: $theme-color;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}

.testimonial-box-items-inner {
    background-color: $white;
    border-radius: 12px;
    padding: 50px 40px;
    box-shadow: 8px 6px 51.9px 34px rgba(3, 15, 44, 0.03);

    @include breakpoint (max-md){
        padding: 40px 30px;
    }


    .star {
        color: #EDDD5E;
    }

    h4 {
        font-size: 24px;
        font-weight: 700;
        max-width: 446px;
        margin-top: 20px;

         @include breakpoint (max-md){
            font-size: 20px;
        }
    }

    .client-info-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

         @include breakpoint (max-md){
           margin-top: 30px;
           flex-wrap: wrap;
           gap: 20px;
        }

        .client-info {
            display: flex;
            align-items: center;
            gap: 20px;

            .content {
                p {
                    font-size: 15px;
                    font-weight: 600;
                }

                h5 {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }

        .icon {
            font-size: 60px;
            color: #63AB52;
        }
    }
}