
:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme-color:#5B8C51;
    --theme-color-2:#EDDD5E;
    --header:#0A2803;
    --text:#5C6672;
    --border:#CAD2D2;
    --ratting:#F8BC26;
    --bg:#EDF2EC;
    --bg-2:#FFF9E8;
    ---box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);

}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme-color);
$theme-color-2: var(--theme-color-2);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$ratting-color: var(--ratting);
$bg-color: var(--bg);
$bg-color-2: var(--bg-2);
$shadow: var(---box-shadow);
